<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
  <meta name="description" content="The Webpage describing Alakshendra Singh, The Man, The Myth, The Legend. The Founder of Suavy Technologies Private Limited and a Technology Researcher.">
  <meta name="keywords" content="Researcher, Innovator, Inventor, Explorer, Suavy, Technologies, Technology">
  <meta name="author" content="Alakshendra Singh">
  <meta property="og:title" content="Alakshendra Singh">
  <meta property="og:description" content="The Webpage describing Alakshendra Singh, The Man, The Myth, The Legend. The Founder of Suavy Technologies Private Limited and a Technology Researcher.">
  <meta property="og:image" content="/Resources/MeInTeaGarder.jpeg">
  <meta property="og:url" content="https://www.alakshendra.com">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Alakshendra Singh">
  <meta name="twitter:description" content="The Webpage describing Alakshendra Singh, The Man, The Myth, The Legend. The Founder of Suavy Technologies Private Limited and a Technology Researcher.">
  <meta name="twitter:image" content="/Resources/MeInTeaGarder.jpeg">
  
  <link rel="apple-touch-icon" href="/Resources/IconMeApple.png">
  <link rel="icon" type="image/png" href="/Resources/IconMe.ico">
  
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/Style/Common.css"/>
  <link rel="stylesheet" href="/Style/Family.css"/>

  <title>Family</title>
  <!-- Internal CSS -->
  <style></style>
</head>

<body>
<header>
  
  <div class="animate__animated animate__fadeInDown">
    <nav class="navbar navbar-expand-lg cst-NavBar">
      <div class="container-fluid">
        <a class="navbar-brand cst-NavBrand" href="/">Alakshendra Singh</a>
        <button class="navbar-toggler cst-NavBarButton" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarItemContainer" aria-expanded="false">
          <span class="navbar-toggler-icon cst-NavBarButtonIcon"></span>
        </button>
        <div class="collapse navbar-collapse" id="NavbarItemContainer">
          <div class="navbar-nav ms-lg-auto text-start">
            <a class="nav-link cst-NavItems" href="/">Home</a>
            <a class="nav-link cst-NavItems" href="/Life">Life</a>
            <a class="nav-link cst-NavItems" href="/Buildl">Builds</a>
            <a class="nav-link cst-NavItems cst-Itemsactive" href="/Family">Family</a>
            <a class="nav-link cst-NavItems cst-NavContactButton hvr-grow" href="/Contact">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

</header>
<main>

  <section id="id-FamilyInfo">
    <h1 class="cst-FamilyMeetMe">Meet My Legendary Family</h1>
    <p class="cst-FamilyDescription">My family is from a village in Bihar, India. Due to my father's government job, I've had the opportunity to explore new places and experience diverse cultures of India. We have a strong, close-knit family blessed with the wisdom of our elders (grandparents), who live with us and generously share their stories and experiences.</p>
    
    <div class="row cst-FamilyInfoContainer">
      <div class="col-md-4 cst-FamilyImageBox">
        <img class="cst-FamilyImage" src="/Resources/Babu.PNG">
      </div>
      <div class="col-md-8 cst-FamilyInfoBox">
        <h3 class="cst-FamilyTitle">Papa (Father)</h3>
        <p class="cst-FamilyInfo">Born in 1972 in Bihar, India, my father left home at a young age to pursue better education, staying with his uncle in Bokaro, Jharkhand. He completed his schooling there and went on to earn a B.Tech in Mechanical Engineering from the National Institute of Technology, Kurukshetra (formerly RIT Kurukshetra). He began his career at JK Tyres and later secured a government job with the Nuclear Power Corporation of India Limited. After a few years, he transitioned to NTPC (formerly National Thermal Power Corporation).</p>
        <p class="cst-FamilyInfo">My father is a loving and caring person who perfectly balances his personal and professional life. Despite his busy schedule, he always makes time for us. For him, family is the highest priority. Even when he and my mother were posted in different locations, he made sure we never felt his absence. His technical knowledge and vast experience mean he can guide me on almost anything. He knows when to be strict and when to be gentle, and he's always cheering me on and encouraging me to follow my dreams.</p>
      </div>
    </div>

    <div class="row cst-FamilyInfoContainer">
      <div class="col-md-4 cst-FamilyImageBox">
        <img class="cst-FamilyImage" src="/Resources/Babu.PNG">
      </div>
      <div class="col-md-8 cst-FamilyInfoBox">
        <h3 class="cst-FamilyTitle">Mummy (Mother)</h3>
        <p class="cst-FamilyInfo">Born in 1973 in Bihar, India, my mother pursed her B.Tech in Civil Engineering from Birsa Munda Institute of Technology Sindari (formerly Bihar Institute of Technology Sindari). Futher she pursed her M.Tech from Visversariya National Institute of Technology Nagpur (formerly RIT Nagpur). She began her career in Gaman India Limited but left it after marriage. After a gap, she changed her career to teaching in Jaypee University of Engineering and Technology Guna. There see pursed her PhD and took a very early retirement from Assistant Professor Role to support her family.</p>
        <p class="cst-FamilyInfo">My mother never over protected us. She let us make mistakes and make us learn from them. She knows when to be strict and when to be gentle. She is the best example of hardwork and determination for me. She handled two young kids, her career, PhD degree course and look after grandparents all by herself. She is a very good advisor and a constant source of energy to me.</p>
      </div>
    </div>

    <div class="row cst-FamilyInfoContainer">
      <div class="col-md-4 cst-FamilyImageBox">
        <img class="cst-FamilyImage" src="/Resources/Babu.PNG">
      </div>
      <div class="col-md-8 cst-FamilyInfoBox">
        <h3 class="cst-FamilyTitle">Babu (Brother)</h3>
        <p class="cst-FamilyInfo">Born in 2011 in Madhya Pradesh, India. He is doing his Higher Secondary Studies. He story and career is in initial stage and will follow with great interest.</p>
        <p class="cst-FamilyInfo">He is a joyful and good boy that has a very nice communication skills.</p>
      </div>
    </div>

    <div class="row cst-FamilyInfoContainer">
      <div class="col-md-4 cst-FamilyImageBox">
        <img class="cst-FamilyImage" src="/Resources/Babu.PNG">
      </div>
      <div class="col-md-8 cst-FamilyInfoBox">
        <h3 class="cst-FamilyTitle">Me</h3>
        <p class="cst-FamilyInfo">Born in 2001 in Rajasthan, India. I pursed my B.Tech in Electrical And Electronics Enginnering from Birla Institute of Technology Mesra Ranchi in 2023. I founded Suavy Technologies Private Limited in 2021.</p>
        <p class="cst-FamilyInfo">My story is a ongoing real-time editable story. To know me more, goto <a href="/Life" class="cst-FamilyLifeLink">Life</a>.</p>
      </div>
    </div>
  </section>

  <section id="id-FamilyInfo">
    
  </section>


  


</main>
<footer>

  <div class="row cst-FootLine"></div>
  <div class="row cst-FootContainer">
    <div class="col-md-8 cst-FootContent">
      <h6 class="cst-FootText">2025 © Alakshendra Singh</h6>
    </div>
    <div class="col-md-4 cst-FootSocialContainer">
      <span class="cst-FootSocialBox">
        <a href="https://github.com/Alakshendra99">
          <img class="hvr-grow cst-FootSocial" src="/Resources/SocialGithub.png">
        </a>
      </span>
      <span class="cst-FootSocialBox">
        <a href="https://www.reddit.com/u/Titanium_0">
          <img class="hvr-grow cst-FootSocial" src="/Resources/SocialReddit.png">
        </a>
      </span>
      <span class="cst-FootSocialBox">
        <a href="https://www.instagram.com/alexaisoffline">
          <img class="hvr-grow cst-FootSocial" src="/Resources/SocialInstagram.png">
        </a>
      </span>
      <span class="cst-FootSocialBox">
        <a href="https://www.linkedin.com/in/alakshendra-singh">
          <img class="hvr-grow cst-FootSocial" src="/Resources/SocialLinkedin.png">
        </a>
      </span>
    </div>
  </div>

</footer>

  <!-- CSS Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>